<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="back">
    <div class="card">
      <img class="img1" src="/images/jiuk9.jpg">
      <h1>Create New Account</h1>
      <form action="/register" method="post">
        <input type="text" class="entry" name = "username" placeholder="username">
        <input type="email" class="entry" name = "email" placeholder="email">
        <input type="text" class="entry" name = "fullname" placeholder="Full name">
        <input type="number" class="entry" name = "phno" placeholder="Mobile No.">
        <input type="password" class="entry" name = "password" placeholder="Password">
        <input  class="entry btn" type="submit" value="Register">
      </form>
      <a href="/">Login</a>
    </div>
  </div>
</body>
</html>